{{#if loggedIn}}
<section class="blog_entries">

<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/blog/{{id}}">{{description}}</a>
    </h2>
    <p>
      {{!-- <span for="img" aria-label="money">💲</span> --}}
      <!-- Pass needed_funding value to the helper function -->
      {{!-- <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
      needed! --}}
      {{description}}
    </p>
    <p>Created by {{user.username}} on {{date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{blog_entry}}
    </p>
  </div>
</div>


</section>
{{else}}
<a href="/login">You must log in first to view this page</a>
{{/if}}
<script src="/js/profile.js"></script>