<!-- Loop over each object in the projects array -->
{{#each blogs as |blog| }}
<div class="row mb-4 project">
  <div class="col-md-8 col-sm-12">
    <div class="card card-rounded">
      <div class = "card-body">
      <h2 class = "card-header">
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        {{{get_emoji}}}
        <a href="/blog/{{blog.id}}">{{blog.description}}</a>
      </h2>
       <p class="card-body">Created by {{blog.user.username}} on {{blog.date_created}}</p>
      <p>
        {{blog.description}}
      </p>
      </div>

    </div>
  </div>
</div>
<div class = "card-footer"></div>
{{/each}}